## Spark DataFrame Basics

In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
df = spark.read.json('people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [8]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [10]:
data_schema = [StructField('age', IntegerType(), True), 
               StructField('name', StringType(), True)]

In [11]:
final_structure = StructType(fields = data_schema)

In [12]:
df_ = spark.read.json('people.json', schema = final_structure)
df_.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [13]:
# Selecting a column/row
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [14]:
df.head(2)[0] # Rows

Row(age=None, name='Michael')

In [15]:
df.select(['age', 'name'])

DataFrame[age: bigint, name: string]

In [16]:
# Creating new columns (immutable to originial)
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [17]:
# Renaming the column
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [18]:
# SQL temporary view
df.createOrReplaceTempView('people') 
results = spark.sql("SELECT * FROM PEOPLE")
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [19]:
new_results = spark.sql("SELECT * FROM people WHERE age = 30")
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+